.nav {
    padding: 0 2em;
    display: block;
}

.nav ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: inline-block;
    list-style: none;
    margin-right: 1.5rem;
}

.nav a {
    text-decoration: none;
    color: #fff;
}